<%- include('partials/header') %>

<h1>Home</h1>
<p><%= homeText %></p>

<% postList.forEach(function(post) { %>

    <div class="">
        <h1><%= post.title %></h1>
        <p><%= post.content.substring(0, 100) + ' ... ' %><a href="/posts/<%= post._id %>">Read More</a></p>
    </div>

<% }); %>

<%- include('partials/footer') %>